@import url(./assets/styles/global.scss);
$primary: teal;

#matrix {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  margin: 20px auto;
  background-color: $primary;

  &.classic {
    border-top: 3px solid yellow;
    border-bottom: 3px solid yellow;
  }

  &.hard {
    border: 3px solid yellow;
  }

  div {
    width: 10px;
    height: 10px;
  }

  .head {
    font-size: 15px !important;
    background-image: url(./assets/images/eye.svg);
    background-size: 16px 5px;
    outline: 1px solid #4F5D73;
  }

  .left {
    transform: rotate(180deg) scale(1.3);
  }

  .top {
    transform: rotate(270deg) scale(1.3);
  }

  .bottom {
    transform: rotate(90deg) scale(1.3);
  }

  .right {
    transform: rotate(0deg) scale(1.3);
  }

  .snake {
    background-color: yellow;
  }

  .apple {
    background-color: red;
  }

  .banana {
    background-color: yellow;
  }

  .orange {
    background-color: orange;
  }

  .grape {
    background-color: rebeccapurple;
  }

  .kiwi {
    background-color: #15e815;
  }
}

.mode-switcher {
  text-align: center;
  margin: 15px 0 5px 0;
  color: $primary;

  label {
    cursor: pointer;
  }
}

.speed-controller {
  color: $primary;
  margin-top: 10px;

  .controller {
    margin-top: 15px;
    display: flex;
    justify-content: center;

    >div {
      width: 100px;
    }

    input {
      cursor: grab;
    }
  }
}

.control-container {
  width: 100%;
  margin: 15px auto;
  text-align: center;
}